@use '@/styles/utils/mixins/styling-mixins.scss' as *;
@use "@/styles/utils/mixins/grid-mixins.scss" as *;
@use "@/styles/utils/colors" as *;

.discover-world-of-tea {
  position: relative;
  height: 100vh;

  &__wrap {
    position: absolute;
    box-sizing: border-box;
    width: max-content;
    padding-inline: 16px;
    bottom: 30px;

    @include on-tablet {
      bottom: 38px;
      left: 32px;
      padding: 0;
    }

    @include on-desktop {
      bottom: 80px;
      left: 80px;
      padding: 0;
    }
  }

  &__title {
    margin-block: 0 24px;

    @include on-tablet {
      margin-bottom: 32px;
    }

    @include on-desktop {
      font-size: 55px;
    }
  }
}

.tea-catalog {
  background-color: $gray-30;
  margin-block: 56px;

  @include apply-appear-on-scroll;
  @include tablet-grid;
  @include desktop-grid;

  @include on-tablet {
    padding-inline: 0;
    margin-block: 80px;
  }

  @include on-desktop {
    margin-block: 140px;
  }

  &__info {
    padding: 16px 16px 24px 16px;

    @include on-tablet {
      display: flex;
      justify-content: center;
      flex-direction: column;
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: 8 / -1;
      margin-right: 80px;
    }

    &-title {
      margin: 0;

      @include on-desktop {
        font-size: 40px;
      }
    }

    &-description {
      margin-block: 16px;

      @include on-desktop {
        margin-block: 32px;
      }
    }
  }
}

.guide {
  background-color: $gray-30;
  margin-block: 56px;

  @include tablet-grid;

  @include on-tablet {
    padding-inline: 0;
    margin-block: 80px;
  }

  @include on-desktop {
    margin-block: 140px;
  }

  &__info {
    padding: 16px 16px 24px 16px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    @include on-tablet {
      grid-column: 1 / 7;
      grid-row: 1;
      padding-left: 34px;
    }

    @include on-desktop {
      padding-right: 126px;
    }

    &-title {
      margin: 0;

      @include on-desktop {
        font-size: 40px;
      }
    }

    &-description {
      margin-block: 16px;

      @include on-desktop {
        margin-block: 32px;
      }
    }
  }
}

.blog {
  margin-bottom: 56px;

  background-image: url("/banners/homepage/tea-culture-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 520px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-inline: 16px;

  @include on-tablet {
    background-image: url("/banners/homepage/tea-culture-tablet.jpg");
    margin-bottom: 72px;
  }

  @include on-desktop {
    background-image: url("/banners/homepage/tea-culture-desktop.jpg");
    margin-bottom: 80px;
  }

  &__title {
    text-align: center;
    margin: 0;
  }

  &__description {
    text-align: center;
    margin-block: 32px;
    padding-inline: 52px;

    @include on-tablet {
      padding-inline: 172px;
    }

    @media (min-width: 960px) {
      padding-inline: 248px;
    }

    @media (min-width: 1220px) {
      padding-inline: 420px;
    }

    @include on-desktop {
      padding-inline: 512px;
    }
  }
}

.carousel {
  padding-inline: 16px;
}
