@use "@/styles/utils/colors.scss" as *;

.error-modal {
  &__title {
    text-align: center;
    margin-block: 0 8px;
  }

  &__description {
    margin: 0;
  }

  &__cancel {
    align-self: end;
    width: 24px;
    height: 24px;

    background-image: url("/icons/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: inherit;
  }
}