@use '../colors' as *;

@mixin custom-cursor-pointer {
  cursor: url("/icons/cursor/cursor-big.svg") 16 16;
}

@mixin apply-appear-on-scroll {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@mixin text-hover {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: $gray-80;
    border-radius: 8px;

    transition: width 0.3s ease-in-out;
  }

  &:hover {
    color: $gray-80;

    &::after {
      width: 100%;
    }
  }
}