@use "@/styles/utils/colors" as *;
@use "@/styles/utils/mixins/grid-mixins.scss" as *;
@use '@/styles/utils/_vars.scss' as *;

.delete-account {
  &__danger-icon {
    width: 48px;
    height: 48px;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    margin-block: 32px;

    &-title {
      margin-block: 0 16px;
    }

    &-desc {
      margin: 0;
    }
  }

  &__back-to-account {
    width: 100%;

    & :first-child {
      width: 100%;
    }
  }
}
