@use "@/styles/utils/colors.scss" as *;
@use "@/styles/utils/mixins/grid-mixins.scss" as *;

.logout-modal {
  &__title {
    text-align: center;
    margin: 0;
  }

  &__subtitle {
    text-align: center;
    margin-block: 0 8px;
  }

  &__buttons {
    width: 100%;
    display: flex;
    gap: 8px;

    > * {
      width: 100%;
    }
  }
}
