$accent: #1A3C1D;
$primary: #2C5F2D;
$primary-70: #76A870;
$primary-50: #AED7A6;
$primary-30: #E1F0DA;
$primary-10: #F3F9F2;

$gray-100: #131313;
$gray-80: #3A3A3A;
$gray-60: #7A7A7A;
$gray-40: #BDBDBD;
$gray-30: #E0E0E0;
$gray-background: #F8F8F8;

$white: #FFF;

$error: #E8433E;
$info: #30A5FF;
$warning: #FFB845;
$success: #179D32;
