$mobile-min-width: 375px;
$tablet-min-width: 744px;
$mobile-max-width: $tablet-min-width - 1;
$desktop-min-width: 1440px;

$header-height-on-mobile: 56px;
$header-height-on-tablet: 72px;
$header-height-on-desktop: 72px;

$page-padding-inline-mobile: 16px;
$page-padding-inline-tablet: 32px;
$page-padding-inline-desktop: 80px;

$margin-between-editing-inputs: 16px;
