@use "@/styles/utils/colors" as *;
@use "@/styles/utils/mixins/grid-mixins.scss" as *;
@use "@/styles/utils/mixins/banner-title.scss" as *;

.catalog {
  position: relative;

  &-banner-wrap {
    position: relative;
  }

  &-wrap {
    min-height: 100vh;
    height: 100%;
    position: relative;

    max-width: 1920px;
    margin-inline: auto;

    @include on-mobile {
      padding-inline: 16px;
    }

    @include on-tablet {
      margin-top: 32px;
    }

    @include on-desktop {
      display: flex;
      margin-top: 48px;
    }

  }

  &__title {
    @include banner-title;
  }

  &__load-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-inline: 16px;

    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 72px;
    }

    @include on-desktop {
      margin-bottom: 88px;
    }
  }
}
