@use "@/styles/utils/mixins/grid-mixins.scss" as *;

.modal {
  &__title {
    font-size: 28px;
    margin: 0;

    text-align: center;

    @include on-tablet {
      font-size: 32px;
    }

    @include on-desktop {
      font-size: 40px;
    }
  }

  &__description {
    text-align: center;
    margin-block: 0 8px;
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }
}
