@use '@/styles/utils/colors' as *;
@use '@/styles/utils/mixins/grid-mixins.scss' as *;
@use '@/styles/utils/mixins/banner-title.scss' as *;
@use '@/styles/utils/vars.scss' as *;

.blog {
  min-height: 100vh;

  &__banner {
    width: 100%;
    position: relative;

    &-title {
      @include banner-title;
    }
  }

  &__sections {
    margin-block: 32px 56px;
    padding-inline: 16px;
    max-width: $large-desktop-min-width;
    margin-inline: auto;

    @include tablet-grid;
    @include desktop-grid;

  }
}