.input-show-password-btn {
  padding: 0;
  position: absolute;
  width: 24px;
  height: 24px;

  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  border: none;
  background-color: inherit;
  background-image: url("/icons/mid-eye.svg");
  
  &--active {
    background-image: url("/icons/mid-eye-active.svg");
  }

  &:hover {
    width: 25px;
    height: 25px;
    background-size: 100%;
    transition: background-size .4s;
  }
}
