@use "@/styles/utils/mixins/grid-mixins.scss" as *;
@use '@/styles/utils/vars.scss' as *;
@use '@/styles/utils/mixins/banner-title.scss' as *;

.product {
  min-height: 100vh;
  margin-top: 56px;

  @include on-tablet {
    margin-top: 80px;
  }

  @include on-desktop {
    margin-top: 136px;
  }

  &__top {
    padding-inline: 16px;

    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    @include on-tablet {
      padding-inline: 32px;
    }

    &-info-wrap {
      max-width: $large-desktop-min-width;
      margin-inline: auto;
      @include desktop-grid;

      @include on-large-desktop {
        padding-inline: 0;
      }
    }
  }

  &__title {
    margin: 0;
  }

  &__add-to-fav {
    width: 24px;
    height: 24px;
    background-image: url("/icons/heart-green-empty.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: inherit;

    &:hover {
      transform: scale(1.1);
      transition: transform .4s;
    }

    &--filled {
      background-image: url("/icons/heart-green-filled.svg");
    }
  }

  &__tea-type {
    font-size: 28px;
    padding-inline: 16px;
    text-transform: capitalize;

    margin-block: 0 32px;

    @include on-tablet {
      font-size: 32px;
      padding-inline: 32px;
    }
  }

  &__characteristics-wrap {
    @include on-desktop {
      grid-column: 8 / -1;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-inline: 16px;
    margin-block: 56px;

    @include on-tablet {
      padding-inline: 32px;
    }

    @include on-desktop {
      grid-column: span 6;
    }

    &-title {
      margin: 0;

      @include on-tablet {
        font-size: 40px;
      }
    }

    &-desc {
      font-size: 16px;
      margin: 0;
    }
  }

  &__you-may-like {
    padding-inline: 16px;

    max-width: $large-desktop-min-width;
    margin-inline: auto;

    @include on-tablet {
      padding-inline: 32px;
    }

    @include on-desktop {
      padding-inline: 80px;
    }

    @include on-large-desktop {
      padding-inline: 0;
    }

    &-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 16px;
      margin-bottom: 16px;
    }

    &-title {
      font-family: Cormorant, sans-serif;
      font-weight: 300;
      margin: 0;
    }

    &-view-btn {
      text-transform: uppercase;
      background-color: inherit;
      border: none;
      text-decoration: underline;
    }
  }

  &__recommended-products {
    @include on-tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 16px;

      > * {
        flex: 0 0 calc(50% - 8px);
        min-width: calc(50% - 8px);
      }
    }

    @include desktop-grid;

    @include on-desktop {
      padding-inline: 0;

      > * {
        grid-column: span 3;
      }
    }
  }

  &__learn-more {
    position: relative;
    margin-block: 56px;

    &-btn {
      outline: none;
      border: none;
      line-height: 120%;
      font-size: 22px;
      top: 16px;
      left: 16px;
      right: 16px;
      position: absolute;
      padding: 16px 8px;
      font-weight: 300;
      margin: 0;
      background-color: rgba(255, 255, 255, 0.8);
      transition: background-color 0.4s;

      /* Mobile/H3 */
      font-family: Cormorant;
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      line-height: 120%; /* 33.6px */
      letter-spacing: -0.56px;

      @include on-tablet {
        font-size: 32px;
        letter-spacing: -0.64px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 1);
      }

      @include on-tablet {
        width: fit-content;
        left: 32px;
        right: 0;
        padding: 20px 16px;
      }

      @include on-desktop {
        padding-inline: 32px;
        left: 80px;
        top: 72px;
      }
      
      @include banner-title-left;
    }
  }
}
