@use "@/styles/utils/vars.scss" as *;

.cursor {
  @media (max-width: $tablet-min-width) {
    @media (hover: none) and (pointer: coarse) {
      visibility: hidden;
      opacity: 0;
      display: none;
      pointer-events: none;
      transform: scale(0);
    }
  }
}
