@use '@/styles/utils/colors' as *;
@use '@/styles/utils/mixins/grid-mixins.scss' as *;
@use '@/styles/utils/mixins/banner-title.scss' as *;
@use '@/styles/utils/vars.scss' as *;

.liked-it {
  &__banner {
    position: relative;
    width: 100%;

    &-title {
      @include banner-title;

      @include on-mobile {
        font-size: 40px;
      }
    }
  }

  &__content {
    max-width: $large-desktop-min-width;
    margin-inline: auto;
  }

  &__products {
    padding-inline: 16px;
    margin-block: 24px 40px;

    @include tablet-grid;
    @include desktop-grid;

    @include on-tablet {
      margin-block: 32px 64px;
    }

    @include on-desktop {
      margin-block: 48px 80px;
    }
  }

  &__complete-order {
    padding-inline: 16px;
    margin-bottom: 56px;

    @include tablet-grid;
    @include desktop-grid;

    &-text {
      text-align: center;
      margin-block: 0 16px;

      @include on-mobile {
        font-size: 28px;
      }

      @include on-tablet {
        grid-column: 3 / -3;
        margin-bottom: 8px;
      }

      @include on-desktop {
        white-space: nowrap;
        text-align: center;
      }
    }

    &-btn-wrap {
      > * {
        width: 100%;
      }

      @include on-tablet {
        grid-column: 4 / -4;
      }

      @include on-desktop {
        grid-column: 5 / -5;
      }
    }
  }
}